.services {
  position: relative;
  color: $white;
  min-height: gutter(100);
  z-index: 100;

  &__corner {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40%;

    @include media("<1300px") {
      width: 50%;
    }

    @include media("<1000px") {
      width: 60%;
    }

    @include media("<md") {
      width: 100%;
    }
  }

  &__lcorner {
    @include cssLock("width", 770, 1920, (200, 600));
    @include cssLock("height", 770, 1920, (200, 600));

    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: contain;
    object-position: bottom left;

    @include media("<md") {
      height: gutter(20);
      width: gutter(20);
    }
  }

  &__rcorner {
    @include cssLock("width", 770, 1920, (200, 600));
    @include cssLock("height", 770, 1920, (200, 600));

    position: absolute;
    right: 0;
    bottom: 0;
    //height: gutter(65);
    object-fit: contain;
    object-position: bottom right;

    @include media("<md") {
      height: gutter(35);
      width: gutter(30);
    }

    @include media("<630px") {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 800;
  }

  &__list {
    margin: gutter(8) auto;

    @include media("<md") {
      margin-bottom: gutter(10);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: gutter(10);

    @include media("<md") {
      text-align: center;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-top: gutter(4);
      }
    }

    &--text {
      justify-content: center;
    }
  }

  &__img {
    @include cssLock("width", 770, 1920, (350, 700));
    @include cssLock("height", 770, 1920, (250, 600));

    //width: gutter(70);
    //height: gutter(60);

    @include media("<md") {
      width: 100%;
      height: gutter(40);
    }

    &--circle {
      @include cssLock("margin-right", 770, 1920, (0, 200));
      @include cssLock("width", 770, 1920, (300, 650));
      @include cssLock("height", 770, 1920, (300, 650));

      border-radius: 100%;
      overflow: hidden;
      //width: gutter(65);
      //height: gutter(65);
      //margin-right: gutter(20);

      @include media("<md") {
        width: 100%;
        height: gutter(40);
        margin-right: auto;
        order: -1;
        border-radius: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include cssLock("width", 770, 1920, (350, 800));
    @include cssLock("padding-left", 770, 1920, (100, 300));
    @include cssLock("padding-top", 770, 1920, (10, 40));
    //width: calc(100% - 700px);
    color: $secondary;
    //padding-top: gutter(4);
    //padding-left: gutter(30);

    @include media("<md") {
      width: 100%;
      padding: gutter(4) gutter(2) 0;
    }

    &--rev {
      @include cssLock("width", 770, 1920, (400, 900));
      @include cssLock("padding-left", 1300, 1920, (150, 300));
      @include cssLock("padding-top", 1300, 1920, (40, 80));

      //width: calc(100% - 900px);
      //padding-top: gutter(8);
      //padding-left: gutter(30);

      @include media("<md") {
        width: 100%;
        padding: gutter(4) gutter(2) 0;
      }
    }

    &--text {
      padding: gutter(4) gutter(4) 0;
      width: gutter(45);

      @include media("<1100px") {
        width: gutter(35);
        padding: gutter(8) gutter(2) 0;
      }

      @include media("<md") {
        width: 100%;
        padding: gutter(4) gutter(2) 0;
      }
    }

    &--offset {
      margin-top: - gutter(15);

      @include media("<md") {
        margin-top: - gutter(10);
      }
    }
  }

  &__number {
    @include cssLock("font-size", 400, 1920, (65, 85));

    position: relative;
    //font-size: 85px;
    color: $primary;
    font-weight: $medium;

    @include media("<md") {
      &::before {
        display: none !important;
      }
    }

    &::before {
      @include cssLock("width", 770, 1500, (50, 140));
      @include cssLock("left", 770, 1500, (-80, -170));

      content: "";
      position: absolute;
      //left: -200%;
      top: 50%;
      display: block;
      background-color: $primary;
      height: 3px;
      //width: gutter(14);
    }

    &--rev {
      &::before {
        @include cssLock("width", 770, 1500, (100, 220));

        left: 180%;
        //width: gutter(35);
      }
    }

    &--noline {
      &::before {
        display: none;
      }
    }
  }

  &__title {
    color: $secondary-dark;
  }

  &__desc {
    display: block;
    max-width: gutter(48);
    margin-top: gutter(4);

    @include media("<md") {
      margin: auto;
    }

    &--small {
      max-width: gutter(40);
    }
  }
}
