.text-box {
  @include cssLock("padding", 770, 1920, (100, 200));

  display: flex;
  align-items: center;
  justify-content: center;
  //height: gutter(55);
  //padding: gutter(20);
  position: relative;
  background-color: $gray-light;

  @include media ("<1500px") {
    br {
      display: none;
    }
  }

  @include media("<md") {
    padding: gutter(8) gutter(3) gutter(15);
  }

  &__text {
    color: $secondary;
  }

  &__lcorner {
    @include cssLock("height", 770, 1920, (200, 400));

    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: auto;

    @include media("<md") {
      height: gutter(15);
    }
  }

  &__rcorner {
    @include cssLock("height", 770, 1920, (200, 400));

    position: absolute;
    right: 0;
    bottom: 0;
    //height: 80%;
    width: auto;

    @include media("<md") {
      height: gutter(15);
    }
  }
}
