html,
body {
  font-family: $font-main !important;
  font-weight: $regular !important;
  color: $black;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}

p {
  margin: 0;
}

strong {
  font-weight: $bold !important;
}
